.flex-container {
  display: flex;
}
.align-center {
  align-items: center;
}
.text-align-center {
  text-align: center;
}
.justify-sp-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-sp-around {
  justify-content: space-around;
}
.justify-sp-evenly {
  justify-content: space-evenly;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.width100vw {
  width: 100vw;
}
.height100vh {
  height: 100vh;
}

// DEFAULT COMPONENT START

.button {
  padding: 9px 1px 14px;
  background-color: $defaultColor;
  border-radius: 8px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: $extraBold;
  color: #fff;
  line-height: 1.4em;
 transition: $transition;
  &:hover{
    opacity: .8;
    transition: $transition;
  }
  &.long-button {
    padding: 11px 1px 11px;
    width: 335px;
    font-size: 1.125rem;
    img {
      padding-left: 20px;
      transform: translateY(-1.2px);
    }
    &.light {
      background-color: #9C88BF;
    }
    &:hover {
      background-color: $defaultColor;
      transition: linear 0.4s;
    }
  }
}


.title {
  font-size: 2rem;
  font-weight: $extraBold;
  padding-top: 50px;
}

.title.big {
  font-size: 3.25rem;
  line-height: 1.28em;
}

.small-menu {
  font-size: 0.875rem;
  color: #9C88BF;
  line-height: 2em;
  padding-top: 30px;
  i {
    padding: 0 8px;
    transform: translateY(1.8px);
  }
  &.detailed {
    color: #fff;
    z-index: 999;
    position: relative;
  }
}

// HASHTAG BLOCK SECTION

.hashtag-block-section {
  padding-top: 30px;
  font-weight: $medium;
  font-size: 0.875rem;
 margin-bottom: -1rem;
  .hashtag-box {
    height: 40px;
    border: 1px $defaultColor solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    span {
      padding: 0 9px 0;
    }
  }
}

//   FOUR ARTICLES SECTION

.four-articles-section {

  & .article-section-column {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 64px;
    transition: $transition;
    max-width: 18rem;

    &:hover{
      filter: brightness(.8);
      transition: $transition;
    }
    .image-section {
      height: 19.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: .5rem;
      overflow: hidden;
      img{
        object-fit: cover;
        max-width: none;
      }
    }

    .text-section {
      height: 4.3rem;
      overflow: hidden;
      margin-top: 15px;
      font-weight: $medium;
    }
  }
}

// DEFAULT COMPONENT END

