.title.big.onko span{
  max-width: 534px;
  display: inline-block;
}
.title.big.rehabilitation span{
  max-width: 668px;
  display: inline-block;
}

.onko-section, .rehabilitation-section {
  width: 50%;
}

.type-info-block {
  background: url("../img/main_bg.jpg") no-repeat center / cover;
}