$defaultFont: 16px;
$defaultColor: #4A2A80;
$defaultBgColor: #FEFAFF;
$defaultFontFamily: 'DINRoundPro', sans-serif;

$medium: 500;
$bold: bold;
$regular: normal;

$fullHd: 1919px;
$xl: 1449px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
$mini: 479px;

$transition: all .3s linear;